@tailwind base;
@tailwind components;
@tailwind utilities;

/* Input autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

  /* use 'white' color to text if background is darker or black*/
  -webkit-text-fill-color: #eaeaea !important;
  color: #eaeaea !important;

  background-color: transparent !important; /* always use transparent to background-color */
  -webkit-transition: all 20000000000s ease-in-out 0s; /* remove default styling */
}